*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before,*:after{
    margin: 0;
    padding: 0;
}

body,:root ,html {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100vw;
    overflow: hidden;
    background-color: #232323;
    --dlight: #ffffffaa;
    --yellow:rgb(247, 190, 17);
}

.redLight {
    transition: 20s linear;
    position: absolute;
    transform: translate(556px,-976px);
    height: 2000px;
    width: 2000px;
    background: radial-gradient(rgba(255, 0, 0, 0.741), transparent, transparent);
}

.blueLight {
    transition: 20s linear;
    position: absolute;
    transform: translate(900px,-631px);
    height: 2000px;
    width: 2000px;
    background: radial-gradient(rgba(0, 0, 255, 0.516), transparent, transparent);

}
body{
    direction: rtl;
}
nav{
  position: absolute;
  width: 100%;
  top: 24px;
}
div.menu-btn{
  width: 42px;
  margin: 0 24px;
  padding: 6px 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 9;
  opacity: 0.5;
}
div.menu-btn span{
  height: 3px;
  width: 100%;
  background: #ffffff77;
  border-radius: 3px;
  margin: 3px 0;
  
}
div.menu-btn span:last-child{
  width:80%;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    width: 80%;
    text-align: center;
    padding-top: 15px;
    box-shadow: -1px -1px 1px 0px #ffffff24;
    background-color: rgb(255 255 255 / 3%);
    z-index: 99;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.firstSection{
    padding: 12px !important;
    gap:10px;
    }
.firstSection>label{
    font-size: 24px;
    margin-bottom: -12px;
}
.firstSection .contain{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
input {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 20px;
    width:  100%;
    height:  42px;
    text-align: center;
    transition: 200ms;
}
input[type=button]{
    margin-top: -8px;
    background-color: #4169e194;
    padding: 3px;
    color: white;
    width:  70%;
}#errorMassage{
    color: red;
    font-size: 12px;
    transition: 2s;
    text-align: right;
    padding-right: 6px;
    margin-top: 6px;
    display: inline-block;
    height: 0;
    overflow: hidden;
    transition: 500ms;
}
.scondSection{
    
}
.buffer{
    padding: 20px;
    padding-bottom: 12px;
    position: relative;
    width: 100%;
}
.spanparent{
    box-shadow: -1px -1px 1px 0px #ffffff24;
    width: 70px;
    height: 70px;
    background-color:#0000006a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%,-100%);
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    --bb:red;
}  
.spanparent::after{/* 
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation:var(--bb);    
    border-radius: 50%;
    box-sizing: border-box; */

}
.spanparent>span:first-child{
position: absolute;
border-width: 2px;border-style: solid;
border-color: rgb(0, 149, 255);
/* border: 2px solid var(--yellow); */
box-shadow: 0 0 20px -10px rgb(0, 149, 255) inset;
border-radius: 50%;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: 1800ms linear;
}
.num{
    color:var(--dlight);
    text-shadow: 0 0 30px var(--dlight);
}
.buffer>h2{
    color:var(--dlight);
}
ul{
    width: 100%;
}
li{
    list-style: none; 
    margin: 6px 0;
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    width:  100%;
}
li>input{
    display: none;
}
li>label{
    color:var(--dlight);
}
progress{
    width: 80%;
    height: 40px;
    opacity: .8;
}
.res{
    display: flex;
    align-items: center;
}
.secres, .firstSection{
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[value=اعادة]{
    width: 70%;
    background-color: transparent;
    border: 1px solid white;
    margin: 6px;
}
footer{
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 6px;
  opacity: .6;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
@keyframes errorInput {
    10%{transform: translate(-4px,0) scale(.98) rotate(1deg);}
    20%{transform: translate(0,0) scale(1) rotate(0deg);}
    40%{transform: translate(4px,0) scale(.98) rotate(-1deg);}
    60%{transform: translate(0,0) scale(1) rotate(0deg);}
    80%{transform: translate(-4px,0) scale(.98) rotate(1deg);}
    100%{transform: translate(0,0) scale(1) rotate(0deg);}
}
@keyframes clickEffect{
    0%{transform: scale(0.9);}
    100%{transform: scale(1);}
}
@keyframes popin {
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
    @keyframes prixClipFix {
        0%{clip-path: polygon(
        50% 0%,
        50% 50%,
        50% 0%,
        100% 0%,
        100% 100%,
        0 100%,
        0% 0%)
        }
        
        12.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        100% 0%,
        100% 0%,
        100% 100%,
        0 100%,
        0% 0%)}
        
        25%{clip-path: polygon(
        50% 0%,
        50% 50%,
        100% 50%,
        100% 100%,
        100% 100%,
        0 100%,
        0% 0%)
        }
        37.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        100%100%,
        100% 100%,
        0% 100%,
        0% 100%,
        0% 0%)}
        
        50%{clip-path: polygon(
        50% 0%,
        50% 50%,
        50% 100%,
        0% 100%,
        0% 100%,
        0% 0%,
        0% 0%)}
        
        62.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        0% 100%,
        0% 100%,
        0% 0%,
        0% 0%,
        0% 0%)}
        
        75%{clip-path: polygon(
        50% 0%,
        50% 50%,
        0% 50%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%)
        }
        87.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        0% 0%,
        50% 0%,
        50% 0%,
        50% 0%,
        50% 0%)}
    100%{clip-path: polygon(
        50% 0%,
        50% 50%,
        50% 0%,
        50% 0%,
        50% 0%,
        50% 0%,
        50% 0%)}
        
        }

@keyframes flow{
    0%{transform: translate(-50%,-50%) scale(1) rotate(0deg);}
    50%{transform: translate(-49%,-51%) scale(.99) rotate(1deg);}
    50%{transform: translate(-50%,-51%) scale(1.01) rotate(-1deg);}
    50%{transform: translate(-51%,-51%) scale(.99) rotate(0deg);}
    100%{transform:translate(-50%,-50%)  scale(1) rotate(0deg);}
}@keyframes change-color{
    0%{border-color:rgb(0, 149, 255);box-shadow:0 0 20px -10px rgb(0, 149, 255) inset}
    40%{border-color:rgb(0, 195, 255);box-shadow:0 0 20px -10px rgb(0, 195, 255) inset}
    100%{border-color:rgb(255, 0, 0);box-shadow:0 0 20px -10px rgb(255, 0, 0) inset}
}
